{
	Faces = (
	{
		Files = (
			Helvetica-Medium.ttf
		);
		Name = Medium;
		PostScriptName = Helvetica-Medium;
	},
	{
		Files = (
			Helvetica-Bold.ttf
		);
		Name = Bold;
		PostScriptName = Helvetica-Bold;
	},
	{
		Files = (
			Helvetica-Oblique.ttf
		);
		Name = Oblique;
		PostScriptName = Helvetica-Oblique;
	},
	{
		Files = (
			Helvetica-BoldOblique.ttf
		);
		Name = "Bold Oblique";
		PostScriptName = Helvetica-BoldOblique;
	}
	);
}
