[Unit]
Description=NEXTSPACE login panel
After=gpbs.service
Requires=gdomap.service gdnc.service gpbs.service

[Service]
### Environment=LD_LIBRARY_PATH=/Library/Libraries
StandardOutput=syslog
StandardError=syslog
SyslogLevel=info
#### SyslogFacility=local0
ExecStart=/usr/NextSpace/Apps/Login.app/Login
### ExecStop=/bin/kill -INT $MAINPID
KillMode=process
Restart=on-success
RestartSec=2s

[Install]
WantedBy=multi-user.target
