[Unit]
Description=NEXTSPACE Login Panel

# Dependencies to GNUstep services
Requires=gdnc.service gdnc-local.service

# replaces the getty
Conflicts=getty@tty1.service
After=getty@tty1.service
After=gdnc.service gdnc-local.service

# replaces plymouth-quit since it quits plymouth on its own
Conflicts=plymouth-quit.service
After=plymouth-quit.service

# Needs all the dependencies of the services it's replacing
# pulled from getty@.service and plymouth-quit.service
# (except for plymouth-quit-wait.service since it waits until
# plymouth is quit, which we do)
After=rc-local.service plymouth-start.service systemd-user-sessions.service

# GDM takes responsibility for stopping plymouth, so if it fails
# for any reason, make sure plymouth still stops
OnFailure=plymouth-quit.service

[Service]
ExecStart=/usr/NextSpace/Apps/Login.app/Login --GNU-Debug=dealloc
ExecStartPost=-/bin/bash -c "TERM=linux /usr/bin/clear > /dev/tty1"
KillMode=process
KillSignal=SIGQUIT
Restart=on-success
RestartSec=2s
#Restart=always
IgnoreSIGPIPE=no
StandardOutput=syslog
StandardError=inherit
SyslogLevel=info

[Install]
Alias=display-manager.service
