{
  ApplicationDescription = "No description avaliable!";
  ApplicationIcon = application.tiff;
  ApplicationName = OpenUp;
  ApplicationRelease = 1.01;
  Copyright = "Copyright (C) 1997 - Scott Anguish";
  CopyrightDescription = "All Rights Reserved";
  FullVersionID = 1.01;
  NSExecutable = OpenUp;
  NSIcon = application.tiff;
  NSMainNibFile = OpenUp.gorm;
  NSPrincipalClass = NSApplication;
  NSRole = Application;
  NSTypes = (
    {
      NSIcon = documents.tiff;
      NSUnixExtensions = (zip, ZIP, gz, tar, tgz);
	}
  );
  NSServices = (
    {
      NSPortName = OpenUp;
      NSMessage = open;
      NSSendTypes = ( NSStringPboardType );
      NSReturnTypes = ( NSStringPboardType );
      NSMenuItem = {
        default = "OpenUp/Open Archive";
      };
      NSTimeout = 25000;
      NSKeyEquivalent = {
        default = Z;
      };
      NSUserData = "LaLaLa";
    }
  );
}