*.rpm
*libtool.m4
*lt*.m4
*.emacs.desktop*
*.clangd
*.cache
*.vscode
*.app
*obj
*.m.d
*.c.d
*.framework
*derived_src
*.preferences
*.provider
*.wsprefs
*.bundle
*.viewer
*.o
*.lo
*.libs
*.deps
*.dir
*~
.build
*.sw?
