Libraries/gnustep/gnustep-base-1.26.0*
Libraries/gnustep/gnustep-gui-0.25.0*
Libraries/gnustep/common_*.tiff
*.emacs.desktop*
*.app
*.d
*obj
*.framework
*derived_src
*.preferences
*.forecast
*.wsprefs
*.bundle
*.viewer
*.o
*.lo
*.libs
*.deps
*.dir
*~
