Libraries/gnustep/gnustep-base-1.26.0*
Libraries/gnustep/gnustep-gui-0.25.0*
Applications/Workspace/WM/compile
*.in
*libtool.m4
*lt*.m4
*.emacs.desktop*
*.clangd
*.cache
*.app
*.d
*obj
*.framework
*derived_src
*.preferences
*.forecast
*.wsprefs
*.bundle
*.viewer
*.o
*.lo
*.libs
*.deps
*.dir
*~
