[submodule "Frameworks/DBusKit"]
	path = Frameworks/DBusKit
	url = https://github.com/gnustep/libs-dbuskit
[submodule "Libraries/gnustep/libs-base"]
	path = Libraries/gnustep/libs-base
	url = https://github.com/gnustep/libs-base
[submodule "Libraries/gnustep/libs-gui"]
	path = Libraries/gnustep/libs-gui
	url = https://github.com/gnustep/libs-gui
[submodule "Libraries/gnustep/libs-back"]
	path = Libraries/gnustep/libs-back
	url = https://github.com/gnustep/libs-back
[submodule "Libraries/gnustep/apps-gorm"]
	path = Libraries/gnustep/apps-gorm
	url = https://github.com/gnustep/apps-gorm
[submodule "Libraries/gnustep/apps-projectcenter"]
	path = Libraries/gnustep/apps-projectcenter
	url = https://github.com/gnustep/apps-projectcenter
