{
    ApplicationDescription = "Weather dock application";
    ApplicationIcon = Weather.tiff;
    ApplicationName = Weather;
    ApplicationRelease = 0.8;
    Copyright = "Copyright (C) 2023";
    CopyrightDescription = "Released under GPL";
    FullVersionID = 0.8;
    NSExecutable = Weather;
    NSIcon = Weather.tiff;
    NSMainNibFile = Weather.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}