{
    ApplicationDescription = "Yahoo weather dock application";
    ApplicationIcon = Weather.png;
    ApplicationName = Weather;
    ApplicationRelease = 0.8;
    Copyright = "Copyright (C) 200x";
    CopyrightDescription = "Released under ...";
    FullVersionID = 0.8;
    NSExecutable = Weather;
    NSIcon = Weather.tiff;
    NSMainNibFile = Weather.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}