{
    Faces = (
	{
	    Files = (Courier.ttf);
	    Name = Regular;
	    PostScriptName = Courier-Regular;
	},
	{
	    Files = (Courier-Bold.ttf);
	    Name = Bold;
	    PostScriptName = Courier-Bold;
	},
	{
	    Files = (Courier-BoldItalic.ttf);
	    Name = "Bold Italic";
	    PostScriptName = Courier-BoldItalic;
	},
	{
	    Files = (Courier-Italic.ttf);
	    Name = Italic;
	    PostScriptName = Courier-Italic;
	}
    );
    Description = "Designed as a typewriter face for IBM, Courier was redrawn by Adrian Frutiger for IBM Selectric series.  A typical fixed pitch design, monotone in weight and slab serif in concept.  Used to emulate typewriter output for reports, tabular work and technical documentation.";
    FontCopyright = "Typeface © The Monotype Corporation plc. Data © The Monotype Corporation plc/Type Solutions Inc. 1990-1994. All Rights Reserved";
    Foundry = "Monotype Typography";
    Packager = "Sergii Stoian <stoyan255@gmail.com>";
    Version = 2.90;
}
