{
    Faces = (
	{
	    Files = (
		times.ttf
	    );
	    Name = Roman;
	    PostScriptName = "Times New Roman";
	},
	{
	    Files = (
		timesbd.ttf
	    );
	    Name = Bold;
	    PostScriptName = "Times New Roman-Bold";
	},
	{
	    Files = (
		timesbi.ttf
	    );
	    Name = BoldItalic;
	    PostScriptName = "Times New Roman-BoldItalic";
	},
	{
	    Files = (
		timesi.ttf
	    );
	    Name = Italic;
	    PostScriptName = "Times New Roman-Italic";
	}
    );
}
