[Unit]
Description=GNUstep Distributed Objects
After=syslog.target network.target

[Service]
Type=forking
Environment=LD_LIBRARY_PATH=/Library/Libraries:/usr/NextSpace/lib
ExecStart=/Library/bin/gdomap -p -a /usr/NextSpace/etc/gdomap.interfaces
ExecStop=/bin/kill -INT $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
