{
    Faces = (
	{
	    Files = (
		cour.ttf
	    );
	    Name = Medium;
	    PostScriptName = Courier;
	},
	{
	    Files = (
		courbd.ttf
	    );
	    Name = Bold;
	    PostScriptName = CourierBold;
	},
	{
	    Files = (
		courbi.ttf
	    );
	    Name = BoldOblique;
	    PostScriptName = CourierBoldOblique;
	},
	{
	    Files = (
		couri.ttf
	    );
	    Name = Oblique;
	    PostScriptName = CourierOblique;
	}
    );
}
