{
  /* 
     Control == Control
     Shift   == Shift
     Meta    == Alt/Command
     Mod1    == Alt/Command
     Mod2    == ?
     Mod3    == ?
     Mod4    == Super/Alternate
     Mod5    == ?
  */
  WindowMaker = {
    KeyboardMapping =
    {
   /* ModifierKeyLabels = ("Shift+", "Control+", "Alt+",  "?????", "?????", "Super+", "?????"); */
      ModifierKeyLabels = ("Shift+", "Control+", "Mod1+", "Mod2+", "Mod3+", "Mod4+",  "Mod5+");
      ModifierKey = Mod4;
    }
    WindowResizing =
    {
      MoveResizeKey = None;

      ShadeKey 	=	"Mod4+KP_Subtract";

      MaximizeKey = 	"Mod4+KP_Add";
      MaximusKey = 	None;
      
      VMaximizeKey = 	"Mod4+Up"; 	/* Maximize vertically */
      HMaximizeKey = 	"Mod4+Right";	/* Maximize horizontally */
      
      LHMaximizeKey = 	"Mod4+KP_4";	/* Maximize left half */
      RHMaximizeKey = 	"Mod4+KP_6"	/* Maximize right half */
      THMaximizeKey = 	"Mod4+KP_8";	/* Maximize top half */
      BHMaximizeKey = 	"Mod4+KP_2";	/* Maximize bottom half */
      
      LTCMaximizeKey = 	"Mod4+KP_7";	/* Maximize left top corner */
      RTCMaximizeKey = 	"Mod4+KP_9";	/* Maximize right top corner */
      LBCMaximizeKey = 	"Mod4+KP_1";	/* Maximize left bottom  corner */
      RBCMaximizeKey = 	"Mod4+KP_3";	/* Maximize right bottom corner */
    }

    WindowOrdering =
    {
      CloseKey = 	"Mod1+w";		/* Cmd+w */
      HideKey = 	"Mod1+h";		/* Cmd+h */
      HideOthersKey = 	"Mod1+H";		/* Cmd+H */
      MiniaturizeKey = 	"Mod1+m";		/* Cmd+m */
      MinimizeAllKey = 	"Mod1+M";			/* Cmd+M */
      FocusNextKey = 	"Mod1+Tab";		/* Cmd+Tab */
      FocusPrevKey = 	"Mod1+Shift+Tab";
      GroupNextKey = 	None;
      GroupPrevKey = 	None;
      RaiseKey = 	None;
      LowerKey = 	None;
      RaiseLowerKey = 	None;
      OmnipresentKey = 	None;
    }

    Dock =
    {
      DockRaiseLowerKey = None; /* Cmd+D ?*/
    }

    Workspaces =
    {
      PrevWorkspaceKey = "Control+Left";
      NextWorkspaceKey = "Control+Right";
      PrevWorkspaceLayerKey = None;
      LastWorkspaceKey = None;
      MoveToLastWorkspaceKey = None;
      MoveToNextWorkspaceKey = None;
      MoveToNextWorkspaceLayerKey = None;
      MoveToPrevWorkspaceKey = None;
      MoveToPrevWorkspaceLayerKey = None;
      MoveToWorkspace10Key = None;
      MoveToWorkspace1Key = None;
      MoveToWorkspace2Key = None;
      MoveToWorkspace3Key = None;
      MoveToWorkspace4Key = None;
      MoveToWorkspace5Key = None;
      MoveToWorkspace6Key = None;
      MoveToWorkspace7Key = None;
      MoveToWorkspace8Key = None;
      MoveToWorkspace9Key = None;
      NextWorkspaceLayerKey = None;
      Workspace10Key = None;
      Workspace1Key = None;
      Workspace2Key = None;
      Workspace3Key = None;
      Workspace4Key = None;
      Workspace5Key = None;
      Workspace6Key = None;
      Workspace7Key = None;
      Workspace8Key = None;
      Workspace9Key = None;
      WorkspaceMapKey = None;
    }
    
    RunKey = 		None;	/* ? */
    ScreenSwitchKey =	None;	/* ? */
    SelectKey =		None;	/* draws white border around window */
    WindowListKey =	None;	/* RMB click on desktop */
    WindowMenuKey =	None;	/* RMB click on titlebar */
    WindowRelaunchKey =	None;	/* RMB click on titlebar -> Launch */
    
    Unusable =
    {
      /* ClipRaiseLowerKey = None; */
      /* ViKeyMenus = NO; ? */
      /* WindowShortcut10Key = None; */
      /* WindowShortcut1Key = None; */
      /* WindowShortcut2Key = None; */
      /* WindowShortcut3Key = None; */
      /* WindowShortcut4Key = None; */
      /* WindowShortcut5Key = None; */
      /* WindowShortcut6Key = None; */
      /* WindowShortcut7Key = None; */
      /* WindowShortcut8Key = None; */
      /* WindowShortcut9Key = None; */
    }
  }
}
