/WindowMaker-0.95.7
*WindowMaker/autom4te.cache
*stamp-h1
*libtool
*.pc
*.la
*.map
*Makefile
*config-paths.h
*config.h
*config.log
*config.status
/WindowMaker/INSTALL-WMAKER
/WindowMaker/README.i18n
/WindowMaker/WindowMaker/Defaults/WMRootMenu
/WindowMaker/WindowMaker/Defaults/WMState
/WindowMaker/WindowMaker/Defaults/WMWindowAttributes
/WindowMaker/WindowMaker/Defaults/WindowMaker
/WindowMaker/WindowMaker/IconSets/Default.iconset
/WindowMaker/doc/wmaker.1
/WindowMaker/doc/wmsetbg.1
/WindowMaker/src/misc.hack_nf.c
/WindowMaker/src/wconfig.h
/WindowMaker/src/xmodifier.hack_nf.c
/WindowMaker/util/convertfonts
/WindowMaker/util/geticonset
/WindowMaker/util/getstyle
/WindowMaker/util/po/Makefile
/WindowMaker/util/seticons
/WindowMaker/util/setstyle
/WindowMaker/util/wdread
/WindowMaker/util/wdwrite
/WindowMaker/util/wmagnify
/WindowMaker/util/wmaker.inst
/WindowMaker/util/wmgenmenu
/WindowMaker/util/wmiv
/WindowMaker/util/wmmenugen
/WindowMaker/util/wmsetbg
/WindowMaker/util/wxcopy
/WindowMaker/util/wxpaste
