/WindowMaker-0.95.7
*stamp-h1
*libtool
*.pc
*.la
*.map
*Makefile
*config-paths.h
*config.h
*config.log
*config.status
/WM/Makefile.in
/WM/aclocal.m4
/WM/autom4te.cache/
/WM/config.guess
/WM/config.sub
/WM/configure
/WM/depcomp
/WM/install-sh
/WM/ltmain.sh
/WM/missing
/WM/src/wconfig.h
/WM/src/misc.hack_nf.c
/WM/src/xmodifier.hack_nf.c
