{
  ApplicationRelease = 0.8;
  Authors = (
    "Saso Kiselkov",
    "Sergii Stoian"
  );
  NSServices = (
    {
      NSPortName = Workspace;
      NSMessage = openFileViewerService;
      NSSendTypes = ( NSStringPboardType );
      NSMenuItem = {
        default = "Open in Workspace";
      };
    }
  );
}
