<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences.GNUstep</key>
	<dict>
		<key>Icon</key>
		<string>/Applications/Preferences.app/Resources/English.lproj/Preferences.tiff</string>
	</dict>
	<key>TimeMon.GNUstep</key>
	<dict>
		<key>Icon</key>
		<string>/Applications/TimeMon.app/Resources/TM-app.tiff</string>
	</dict>
	<key>Terminal.GNUstep</key>
	<dict>
		<key>Icon</key>
		<string>/Applications/Terminal.app/Resources/Terminal.tiff</string>
	</dict>
	<key>TextEdit.GNUstep</key>
	<dict>
		<key>Icon</key>
		<string>/Applications/TextEdit.app/Resources/Edit.tiff</string>
	</dict>
	<key>Recycler.GNUstep</key>
	<dict>
		<key>Icon</key>
		<string>recycler.tiff</string>
	</dict>
</dict>
</plist>
