{
    af = Afghani;
    al = Albanian;
    am = Armenian;
    ara = Arabic;
    at = "German (Austria)";
    au = "English (Australian)";
    az = Azerbaijani;
    ba = Bosnian;
    be = Belgian;
    bg = Bulgarian;
    bn = "Malay (Jawi)";
    br = "Portuguese (Brazil)";
    brai = Braille;
    bt = Dzongkha;
    bw = Tswana;
    by = Belarusian;
    ca = "French (Canada)";
    cd = "French (Democratic Republic of the Congo)";
    ch = "German (Switzerland)";
    cm = "English (Cameroon)";
    cn = Chinese;
    cz = Czech;
    de = German;
    dk = Danish;
    dz = "Berber (Algeria, Latin characters)";
    ee = Estonian;
    epo = Esperanto;
    es = Spanish;
    et = Amharic;
    fi = Finnish;
    fo = Faroese;
    fr = French;
    gb = "English (UK)";
    ge = Georgian;
    gh = "English (Ghana)";
    gn = "French (Guinea)";
    gr = Greek;
    hr = Croatian;
    hu = Hungarian;
    id = "Indonesian (Jawi)";
    ie = Irish;
    il = Hebrew;
    in = Indian;
    iq = Iraqi;
    ir = Persian;
    is = Icelandic;
    it = Italian;
    jp = Japanese;
    ke = "Swahili (Kenya)";
    kg = Kyrgyz;
    kh = "Khmer (Cambodia)";
    kr = Korean;
    kz = Kazakh;
    la = Lao;
    latam = "Spanish (Latin American)";
    lk = "Sinhala (phonetic)";
    lt = Lithuanian;
    lv = Latvian;
    ma = "Arabic (Morocco)";
    mao = Maori;
    md = Moldavian;
    me = Montenegrin;
    mk = Macedonian;
    ml = Bambara;
    mm = Burmese;
    mn = Mongolian;
    mt = Maltese;
    mv = Dhivehi;
    my = "Malay (Jawi)";
    "nec_vndr/jp" = "Japanese (PC-98xx Series)";
    ng = "English (Nigeria)";
    nl = Dutch;
    no = Norwegian;
    np = Nepali;
    ph = Filipino;
    pk = "Urdu (Pakistan)";
    pl = Polish;
    pt = Portuguese;
    ro = Romanian;
    rs = Serbian;
    ru = Russian;
    se = Swedish;
    si = Slovenian;
    sk = Slovak;
    sn = Wolof;
    sy = "Arabic (Syria)";
    tg = "French (Togo)";
    th = Thai;
    tj = Tajik;
    tm = Turkmen;
    tr = Turkish;
    tw = Taiwanese;
    tz = "Swahili (Tanzania)";
    ua = Ukrainian;
    us = "English (US)";
    uz = Uzbek;
    vn = Vietnamese;
    za = "English (South Africa)";
}