{
    Compose = "key          Position of Compose key";
    altwin = "Alt/Win key behavior";
    "altwin:alt_super_win" = "Alt is mapped to Right Win, Super to Menu";
    "altwin:alt_win" = "Alt is mapped to Win keys (and the usual Alt keys)";
    "altwin:ctrl_alt_win" = "Ctrl is mapped to Alt keys, Alt is mapped to Win keys";
    "altwin:ctrl_win" = "Ctrl is mapped to Win keys (and the usual Ctrl keys)";
    "altwin:hyper_win" = "Hyper is mapped to Win keys";
    "altwin:left_meta_win" = "Meta is mapped to Left Win";
    "altwin:menu" = "Add the standard behavior to Menu key";
    "altwin:meta_alt" = "Alt and Meta are on Alt keys";
    "altwin:meta_win" = "Meta is mapped to Win keys";
    "altwin:prtsc_rwin" = "Win is mapped to PrtSc (and the usual Win key)";
    "altwin:swap_alt_win" = "Alt is swapped with Win";
    "altwin:swap_lalt_lwin" = "Left Alt is swapped with Left Win";
    "apple:alupckeys" = "Apple Aluminium Keyboard: emulate PC keys (Print, Scroll Lock, Pause, Num Lock)";
    caps = "Caps Lock key behavior";
    "caps:backspace" = "Make Caps Lock an additional Backspace";
    "caps:capslock" = "Caps Lock toggles normal capitalization of alphabetic characters";
    "caps:ctrl_modifier" = "Caps Lock is also a Ctrl";
    "caps:escape" = "Make Caps Lock an additional ESC";
    "caps:hyper" = "Make Caps Lock an additional Hyper";
    "caps:internal" = "Caps Lock uses internal capitalization; Shift \"pauses\" Caps Lock";
    "caps:internal_nocancel" = "Caps Lock uses internal capitalization; Shift doesn't affect Caps Lock";
    "caps:menu" = "Make Caps Lock an additional Menu key";
    "caps:none" = "Caps Lock is disabled";
    "caps:numlock" = "Make Caps Lock an additional Num Lock";
    "caps:shift" = "Caps Lock acts as Shift with locking; Shift \"pauses\" Caps Lock";
    "caps:shift_nocancel" = "Caps Lock acts as Shift with locking; Shift doesn't affect Caps Lock";
    "caps:shiftlock" = "Caps Lock toggles ShiftLock (affects all keys)";
    "caps:super" = "Make Caps Lock an additional Super";
    "caps:swapescape" = "Swap ESC and Caps Lock";
    compat = "Miscellaneous compatibility options";
    "compose:102" = "&lt;Less/Greater&gt;";
    "compose:102-altgr" = "3rd level of &lt;Less/Greater&gt;";
    "compose:caps" = "Caps Lock";
    "compose:caps-altgr" = "3rd level of Caps Lock";
    "compose:lctrl" = "Left Ctrl";
    "compose:lctrl-altgr" = "3rd level of Left Ctrl";
    "compose:lwin" = "Left Win";
    "compose:lwin-altgr" = "3rd level of Left Win";
    "compose:menu" = Menu;
    "compose:menu-altgr" = "3rd level of Menu";
    "compose:paus" = Pause;
    "compose:prsc" = PrtSc;
    "compose:ralt" = "Right Alt";
    "compose:rctrl" = "Right Ctrl";
    "compose:rctrl-altgr" = "3rd level of Right Ctrl";
    "compose:rwin" = "Right Win";
    "compose:rwin-altgr" = "3rd level of Right Win";
    "compose:sclk" = "Scroll Lock";
    ctrl = "Ctrl key position";
    "ctrl:aa_ctrl" = "At bottom left";
    "ctrl:ac_ctrl" = "At left of 'A'";
    "ctrl:lctrl_meta" = "Left Ctrl as Meta";
    "ctrl:menu_rctrl" = "Menu as Right Ctrl";
    "ctrl:nocaps" = "Caps Lock as Ctrl";
    "ctrl:rctrl_ralt" = "Right Ctrl as Right Alt";
    "ctrl:swap_lalt_lctl" = "Swap Left Alt key with Left Ctrl key";
    "ctrl:swap_lalt_lctl_lwin" = "Left Alt as Ctrl, Left Ctrl as Win, Left Win as Alt";
    "ctrl:swap_lwin_lctl" = "Swap Left Win key with Left Ctrl key";
    "ctrl:swap_rwin_rctl" = "Swap Right Win key with Right Ctrl key";
    "ctrl:swapcaps" = "Swap Ctrl and Caps Lock";
    currencysign = "Adding currency signs to certain keys";
    esperanto = "Adding Esperanto supersigned letters";
    "esperanto:colemak" = "To the corresponding key in a Colemak layout";
    "esperanto:dvorak" = "To the corresponding key in a Dvorak layout";
    "esperanto:qwerty" = "To the corresponding key in a Qwerty layout";
    "eurosign:2" = "Euro on 2";
    "eurosign:4" = "Euro on 4";
    "eurosign:5" = "Euro on 5";
    "eurosign:e" = "Euro on E";
    "grab:break_actions" = "Allow breaking grabs with keyboard actions (warning: security risk)";
    "grab:debug" = "Allow grab and window tree logging";
    grp = "Switching to another layout";
    "grp:alt_caps_toggle" = "Alt+Caps Lock";
    "grp:alt_shift_toggle" = "Alt+Shift";
    "grp:alt_space_toggle" = "Alt+Space";
    "grp:alts_toggle" = "Both Alt keys together";
    "grp:caps_switch" = "Caps Lock (while pressed), Alt+Caps Lock does the original capslock action";
    "grp:caps_toggle" = "Caps Lock";
    "grp:ctrl_alt_toggle" = "Alt+Ctrl";
    "grp:ctrl_shift_toggle" = "Ctrl+Shift";
    "grp:ctrls_toggle" = "Both Ctrl keys together";
    "grp:lalt_lshift_toggle" = "Left Alt+Left Shift";
    "grp:lalt_toggle" = "Left Alt";
    "grp:lctrl_lshift_toggle" = "Left Ctrl+Left Shift";
    "grp:lctrl_lwin_rctrl_menu" = "LeftCtrl+LeftWin (to first layout), RightCtrl+Menu (to second layout)";
    "grp:lctrl_lwin_toggle" = "LeftCtrl+LeftWin";
    "grp:lctrl_rctrl_switch" = "Left Ctrl (to first layout), Right Ctrl (to last layout)";
    "grp:lctrl_toggle" = "Left Ctrl";
    "grp:lshift_toggle" = "Left Shift";
    "grp:lswitch" = "Left Alt (while pressed)";
    "grp:lwin_switch" = "Left Win (while pressed)";
    "grp:lwin_toggle" = "Left Win";
    "grp:menu_toggle" = Menu;
    "grp:rctrl_rshift_toggle" = "Right Ctrl+Right Shift";
    "grp:rctrl_switch" = "Right Ctrl (while pressed)";
    "grp:rctrl_toggle" = "Right Ctrl";
    "grp:rshift_toggle" = "Right Shift";
    "grp:rwin_switch" = "Right Win (while pressed)";
    "grp:rwin_toggle" = "Right Win";
    "grp:sclk_toggle" = "Scroll Lock";
    "grp:shift_caps_switch" = "Caps Lock (to first layout), Shift+Caps Lock (to last layout)";
    "grp:shift_caps_toggle" = "Shift+Caps Lock";
    "grp:shifts_toggle" = "Both Shift keys together";
    "grp:switch" = "Right Alt (while pressed)";
    "grp:toggle" = "Right Alt";
    "grp:win_menu_switch" = "Left Win (to first layout), Right Win/Menu (to last layout)";
    "grp:win_space_toggle" = "Win Key+Space";
    "grp:win_switch" = "Any Win key (while pressed)";
    "grp_led" = "Use keyboard LED to show alternative layout";
    "grp_led:caps" = "Caps Lock";
    "grp_led:num" = "Num Lock";
    "grp_led:scroll" = "Scroll Lock";
    japan = "Japanese keyboard options";
    "japan:hztg_escape" = "Make Zenkaku Hankaku an additional ESC";
    "japan:kana_lock" = "Kana Lock key is locking";
    "japan:nicola_f_bs" = "NICOLA-F style Backspace";
    keypad = "Layout of numeric keypad";
    "keypad:atm" = "ATM/phone-style";
    "keypad:future" = "Unicode additions (arrows and math operators; math operators on default level)";
    "keypad:future_wang" = "Wang 724 keypad with Unicode additions (arrows and math operators; math operators on default level)";
    "keypad:hex" = Hexadecimal;
    "keypad:legacy" = Legacy;
    "keypad:legacy_wang" = "Legacy Wang 724";
    "keypad:oss" = "Unicode additions (arrows and math operators)";
    "keypad:oss_wang" = "Wang 724 keypad with Unicode additions (arrows and math operators)";
    "keypad:pointerkeys" = "Shift + NumLock toggles PointerKeys";
    korean = "Korean Hangul/Hanja keys";
    "korean:hw_keys" = "Hardware Hangul/Hanja keys";
    "korean:ralt_rctrl" = "Right Alt as Hangul, right Ctrl as Hanja";
    "korean:rctrl_ralt" = "Right Ctrl as Hangul, right Alt as Hanja";
    kpdl = "Numeric keypad delete key behaviour";
    "kpdl:comma" = "Legacy key with comma";
    "kpdl:commaoss" = "Four-level key with comma";
    "kpdl:dot" = "Legacy key with dot";
    "kpdl:dotoss" = "Four-level key with dot";
    "kpdl:dotoss_latin9" = "Four-level key with dot, Latin-9 only";
    "kpdl:kposs" = "Four-level key with abstract separators";
    "kpdl:momayyezoss" = "Four-level key with momayyez";
    "kpdl:semi" = "Semicolon on third level";
    lv3 = "Key to choose 3rd level";
    "lv3:alt_switch" = "Any Alt key";
    "lv3:bksl_switch" = Backslash;
    "lv3:bksl_switch_latch" = "Backslash chooses 3rd level, acts as onetime lock when pressed together with another 3rd-level-chooser";
    "lv3:caps_switch" = "Caps Lock";
    "lv3:caps_switch_latch" = "Caps Lock chooses 3rd level, acts as onetime lock when pressed together with another 3rd-level-chooser";
    "lv3:enter_switch" = "Enter on keypad";
    "lv3:lalt_switch" = "Left Alt";
    "lv3:lsgt_switch" = "&lt;Less/Greater&gt;";
    "lv3:lsgt_switch_latch" = "&lt;Less/Greater&gt; chooses 3rd level, acts as onetime lock when pressed together with another 3rd-level-chooser";
    "lv3:lwin_switch" = "Left Win";
    "lv3:menu_switch" = Menu;
    "lv3:ralt_alt" = "Right Alt key never chooses 3rd level";
    "lv3:ralt_switch" = "Right Alt";
    "lv3:ralt_switch_multikey" = "Right Alt, Shift+Right Alt key is Compose";
    "lv3:rwin_switch" = "Right Win";
    "lv3:switch" = "Right Ctrl";
    "lv3:win_switch" = "Any Win key";
    lv5 = "Key to choose 5th level";
    "lv5:lsgt_switch_lock" = "&lt;Less/Greater&gt; chooses 5th level, locks when pressed together with another 5th-level-chooser";
    "lv5:lwin_switch_lock" = "Left Win chooses 5th level, locks when pressed together with another 5th-level-chooser";
    "lv5:ralt_switch_lock" = "Right Alt chooses 5th level, locks when pressed together with another 5th-level-chooser";
    "lv5:rwin_switch_lock" = "Right Win chooses 5th level, locks when pressed together with another 5th-level-chooser";
    "misc:typo" = "Enable extra typographic characters";
    nbsp = "Using space key to input non-breakable space character";
    "nbsp:level2" = "Non-breakable space character at second level";
    "nbsp:level3" = "Non-breakable space character at third level";
    "nbsp:level3n" = "Non-breakable space character at third level, thin non-breakable space character at fourth level";
    "nbsp:level3s" = "Non-breakable space character at third level, nothing at fourth level";
    "nbsp:level4" = "Non-breakable space character at fourth level";
    "nbsp:level4n" = "Non-breakable space character at fourth level, thin non-breakable space character at sixth level";
    "nbsp:level4nl" = "Non-breakable space character at fourth level, thin non-breakable space character at sixth level (via Ctrl+Shift)";
    "nbsp:none" = "Usual space at any level";
    "nbsp:zwnj2" = "Zero-width non-joiner character at second level";
    "nbsp:zwnj2nb3" = "Zero-width non-joiner character at second level, non-breakable space character at third level";
    "nbsp:zwnj2nb3nnb4" = "Zero-width non-joiner character at second level, non-breakable space character at third level, thin non-breakable space at fourth level";
    "nbsp:zwnj2nb3s" = "Zero-width non-joiner character at second level, non-breakable space character at third level, nothing at fourth level";
    "nbsp:zwnj2nb3zwj4" = "Zero-width non-joiner character at second level, non-breakable space character at third level, zero-width joiner at fourth level";
    "nbsp:zwnj2zwj3" = "Zero-width non-joiner character at second level, zero-width joiner character at third level";
    "nbsp:zwnj2zwj3nb4" = "Zero-width non-joiner character at second level, zero-width joiner character at third level, non-breakable space character at fourth level";
    "nbsp:zwnj3zwj4" = "Zero-width non-joiner character at third level, zero-width joiner at fourth level";
    "numpad:mac" = "Numeric keypad keys always enter digits (as in Mac OS)";
    "numpad:microsoft" = "NumLock on: digits, Shift switches to arrow keys, Numlock off: always arrow keys (as in MS Windows)";
    "numpad:pc" = "Default numeric keypad keys";
    "numpad:shift3" = "Shift does not cancel Num Lock, chooses 3rd level instead";
    "rupeesign:4" = "Rupee on 4";
    "shift:both_capslock" = "Both Shift keys together toggle Caps Lock";
    "shift:both_capslock_cancel" = "Both Shift keys together activate Caps Lock, one Shift key deactivates";
    "shift:both_shiftlock" = "Both Shift keys together toggle ShiftLock";
    "shift:breaks_caps" = "Shift cancels Caps Lock";
    solaris = "Maintain key compatibility with old Solaris keycodes";
    "solaris:sun_compat" = "Sun Key compatibility";
    "srvrkeys:none" = "Special keys (Ctrl+Alt+&lt;key&gt;) handled in a server";
    terminate = "Key sequence to kill the X server";
    "terminate:ctrl_alt_bksp" = "Ctrl + Alt + Backspace";
}