{
    "a4_rfkb23" = "A4Tech Wireless Desktop RFKB-23";
    a4techKB21 = "A4Tech KB-21";
    a4techKBS8 = "A4Tech KBS-8";
    "acer_c300" = "Acer C300";
    "acer_ferrari4k" = "Acer Ferrari 4000";
    "acer_laptop" = "Acer Laptop";
    airkey = "Acer AirKey V";
    apple = Apple;
    "apple_laptop" = "Apple Laptop";
    "applealu_ansi" = "Apple Aluminium Keyboard (ANSI)";
    "applealu_iso" = "Apple Aluminium Keyboard (ISO)";
    "applealu_jis" = "Apple Aluminium Keyboard (JIS)";
    armada = "Laptop/notebook Compaq (eg. Armada) Laptop Keyboard";
    "asus_laptop" = "Asus Laptop";
    azonaRF2300 = "Azona RF2300 wireless Internet Keyboard";
    benqx = "BenQ X-Touch";
    benqx730 = "BenQ X-Touch 730";
    benqx800 = "BenQ X-Touch 800";
    brother = "Brother Internet Keyboard";
    btc5090 = "BTC 5090";
    btc5113rf = "BTC 5113RF Multimedia";
    btc5126t = "BTC 5126T";
    btc6301urf = "BTC 6301URF";
    btc9000 = "BTC 9000";
    btc9000a = "BTC 9000A";
    btc9001ah = "BTC 9001AH";
    btc9019u = "BTC 9019U";
    btc9116u = "BTC 9116U Mini Wireless Internet and Gaming";
    cherryblue = "Cherry Blue Line CyBo@rd";
    cherrybluea = "Cherry Blue Line CyBo@rd (alternate option)";
    cherryblueb = "Cherry CyMotion Master XPress";
    cherrybunlim = "Cherry B.UNLIMITED";
    cherrycmexpert = "Cherry CyMotion Expert";
    cherrycyboard = "Cherry CyBo@rd USB-Hub";
    chicony = "Chicony Internet Keyboard";
    chicony0108 = "Chicony KU-0108";
    chicony0420 = "Chicony KU-0420";
    chicony9885 = "Chicony KB-9885";
    classmate = "Classmate PC";
    compalfl90 = FL90;
    compaqeak8 = "Compaq Easy Access Keyboard";
    compaqik13 = "Compaq Internet Keyboard (13 keys)";
    compaqik18 = "Compaq Internet Keyboard (18 keys)";
    compaqik7 = "Compaq Internet Keyboard (7 keys)";
    creativedw7000 = "Creative Desktop Wireless 7000";
    cymotionlinux = "Cherry CyMotion Master Linux";
    dell = Dell;
    dell101 = "Dell 101-key PC";
    dellm65 = "Dell Precision M65";
    dellsk8125 = "Dell SK-8125";
    dellsk8135 = "Dell SK-8135";
    dellusbmm = "Dell USB Multimedia Keyboard";
    dexxa = "Dexxa Wireless Desktop Keyboard";
    diamond = "Diamond 9801 / 9802 series";
    dtk2000 = DTK2000;
    emachines = "Laptop/notebook eMachines m68xx";
    "ennyah_dkb1008" = "Ennyah DKB-1008";
    everex = "Everex STEPnote";
    flexpro = "Keytronic FlexPro";
    fscaa1667g = "Fujitsu-Siemens Computers AMILO laptop";
    genius = "Genius Comfy KB-16M / Genius MM Keyboard KWD-910";
    geniuscomfy = "Genius Comfy KB-12e";
    geniuscomfy2 = "Genius Comfy KB-21e-Scroll";
    geniuskb19e = "Genius KB-19e NB";
    geniuskkb2050hs = "Genius KKB-2050HS";
    gyration = Gyration;
    hhk = "Happy Hacking Keyboard";
    "honeywell_euroboard" = "Honeywell Euroboard";
    hp250x = "Hewlett-Packard SK-250x Multimedia Keyboard";
    hp500fa = "Hewlett-Packard Omnibook 500 FA";
    hp5xx = "Hewlett-Packard Omnibook 5xx";
    hp6000 = "Hewlett-Packard Omnibook 6000/6100";
    hpdv5 = "Hewlett-Packard Pavilion dv5";
    hpi6 = "Hewlett-Packard Internet Keyboard";
    hpmini110 = "Hewlett-Packard Mini 110 Notebook";
    hpnx9020 = "Hewlett-Packard nx9020";
    hpxe3gc = "Hewlett-Packard Omnibook XE3 GC";
    hpxe3gf = "Hewlett-Packard Omnibook XE3 GF";
    hpxt1000 = "Hewlett-Packard Omnibook XT1000";
    hpzt11xx = "Hewlett-Packard Pavilion ZT11xx";
    htcdream = "Htc Dream phone";
    "ibm_spacesaver" = "IBM Space Saver";
    inspiron = "Dell Laptop/notebook Inspiron 6xxx/8xxx";
    ipaq = "Compaq iPaq Keyboard";
    itouch = "Logitech iTouch";
    kinesis = Kinesis;
    latitude = "Dell Latitude series laptop";
    logiaccess = "Logitech Access Keyboard";
    logicd = "Logitech Cordless Desktop";
    "logicd_it" = "Logitech Cordless Desktop iTouch";
    "logicd_nav" = "Logitech Cordless Desktop Navigator";
    "logicd_opt" = "Logitech Cordless Desktop Optical";
    logicda = "Logitech Cordless Desktop (alternate option)";
    logicdn = "Logitech Cordless Desktop Navigator";
    logicdpa2 = "Logitech Cordless Desktop Pro (alternate option 2)";
    logicfn = "Logitech Cordless Freedom/Desktop Navigator";
    logicink = "Logitech Internet Navigator Keyboard";
    logiclx300 = "Logitech Cordless Desktop LX-300";
    logidinovo = "Logitech diNovo Keyboard";
    logidinovoedge = "Logitech diNovo Edge Keyboard";
    logiex110 = "Logitech Cordless Desktop EX110";
    logii350 = "Logitech Internet 350 Keyboard";
    logiik = "Logitech Internet Keyboard";
    logiinkse = "Logitech iTouch Internet Navigator Keyboard SE";
    logiinkseusb = "Logitech iTouch Internet Navigator Keyboard SE (USB)";
    logiitc = "Logitech iTouch Cordless Keyboard (model Y-RB6)";
    logimel = "Logitech Media Elite Keyboard";
    "logitech_base" = "Logitech Generic Keyboard";
    "logitech_g15" = "Logitech G15 extra keys via G15daemon";
    logiultrax = "Logitech Ultra-X Keyboard";
    logiultraxc = "Logitech Ultra-X Cordless Media Desktop Keyboard";
    macbook78 = "MacBook/MacBook Pro";
    macbook79 = "MacBook/MacBook Pro (Intl)";
    macintosh = Macintosh;
    "macintosh_hhk" = "Happy Hacking Keyboard for Mac";
    "macintosh_old" = "Macintosh Old";
    microsoft = "Microsoft Natural";
    microsoft4000 = "Microsoft Natural Ergonomic Keyboard 4000";
    microsoft7000 = "Microsoft Natural Wireless Ergonomic Keyboard 7000";
    microsoftccurve2k = "Microsoft Comfort Curve Keyboard 2000";
    microsoftelite = "Microsoft Natural Keyboard Elite";
    microsoftinet = "Microsoft Internet Keyboard";
    microsoftmult = "Microsoft Wireless Multimedia Keyboard 1.0A";
    microsoftoffice = "Microsoft Office Keyboard";
    microsoftpro = "Microsoft Natural Keyboard Pro / Microsoft Internet Keyboard Pro";
    microsoftprooem = "Microsoft Natural Keyboard Pro OEM";
    microsoftprose = "Microsoft Internet Keyboard Pro, Swedish";
    microsoftprousb = "Microsoft Natural Keyboard Pro USB / Microsoft Internet Keyboard Pro";
    mx1998 = "Memorex MX1998";
    mx2500 = "Memorex MX2500 EZ-Access Keyboard";
    mx2750 = "Memorex MX2750";
    olpc = OLPC;
    omnikey101 = "Northgate OmniKey 101";
    oretec = "Ortek MCK-800 MM/Internet keyboard";
    pc101 = "Generic 101-key PC";
    pc102 = "Generic 102-key (Intl) PC";
    pc104 = "Generic 104-key PC";
    pc105 = "Generic 105-key (Intl) PC";
    pc98 = "PC-98xx Series";
    "precision_m" = "Dell Laptop/notebook Precision M series";
    presario = "Laptop/notebook Compaq (eg. Presario) Internet Keyboard";
    propeller = "Propeller Voyager (KTEZ-1000)";
    qtronix = "QTronix Scorpius 98N+";
    rapidaccess = "IBM Rapid Access";
    rapidaccess2 = "IBM Rapid Access II";
    samsung4500 = "Samsung SDM 4500P";
    samsung4510 = "Samsung SDM 4510P";
    sanwaskbkg3 = "Sanwa Supply SKB-KG3";
    scorpius = "Advance Scorpius KI";
    silvercrest = "SILVERCREST Multimedia Wireless Keyboard";
    sk1300 = "SK-1300";
    sk2500 = "SK-2500";
    sk6200 = "SK-6200";
    sk7100 = "SK-7100";
    "sp_inet" = "Super Power Multimedia Keyboard";
    "sun_type6_euro_usb" = "Sun Type 6/7 USB (European layout)";
    "sun_type6_jp" = "Sun Type 6 (Japanese layout)";
    "sun_type6_jp_usb" = "Sun Type 6 USB (Japanese layout)";
    "sun_type6_unix_usb" = "Sun Type 6 USB (Unix layout)";
    "sun_type6_usb" = "Sun Type 6/7 USB";
    "sun_type7_euro_usb" = "Sun Type 7 USB (European layout)";
    "sun_type7_jp_usb" = "Sun Type 7 USB (Japanese layout) / Japanese 106-key";
    "sun_type7_unix_usb" = "Sun Type 7 USB (Unix layout)";
    "sun_type7_usb" = "Sun Type 7 USB";
    sven = "SVEN Ergonomic 2500";
    sven303 = "SVEN Slim 303";
    symplon = "Symplon PaceBook (tablet PC)";
    "targa_v811" = "Targa Visionary 811";
    teck227 = "Truly Ergonomic Computer Keyboard Model 227 (Wide Alt keys)";
    teck229 = "Truly Ergonomic Computer Keyboard Model 229 (Standard sized Alt keys, additional Super and Menu key)";
    thinkpad = "IBM ThinkPad 560Z/600/600E/A22E";
    thinkpad60 = "IBM ThinkPad R60/T60/R61/T61";
    thinkpadz60 = "IBM ThinkPad Z60m/Z60t/Z61m/Z61t";
    tm2020 = "TypeMatrix EZ-Reach 2020";
    tm2030PS2 = "TypeMatrix EZ-Reach 2030 PS2";
    tm2030USB = "TypeMatrix EZ-Reach 2030 USB";
    "tm2030USB-102" = "TypeMatrix EZ-Reach 2030 USB (102/105:EU mode)";
    "tm2030USB-106" = "TypeMatrix EZ-Reach 2030 USB (106:JP mode)";
    "toshiba_s3000" = "Toshiba Satellite S3000";
    trust = "Trust Wireless Keyboard Classic";
    "trust_slimline" = "Trust Slimline";
    trustda = "Trust Direct Access Keyboard";
    unitekkb1925 = "Unitek KB-1925";
    vsonku306 = "ViewSonic KU-306 Internet Keyboard";
    winbook = "Winbook Model XP5";
    yahoo = "Yahoo! Internet Keyboard";
}