{
    Faces = (
	{
	    Files = (
		Terminus.ttf
	    );
	    Name = Medium;
	    PostScriptName = Terminus;
	},
	{
	    Files = (
		Terminus-Bold.ttf
	    );
	    Name = Bold;
	    PostScriptName = Terminus-Bold;
	},
	{
	    Files = (
		Terminus-Italic.ttf
	    );
	    Name = Italic;
	    PostScriptName = Terminus-Italic;
	}
    );
}
