name: Ubuntu 24.04

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v3

    - name: APT update
      run: sudo apt-get -q -y update

    - name: Build core libraries
      run: |
        cd Packaging/Sources
        sudo ./0_build_libdispatch.sh
        sudo ./1_build_libcorefoundation.sh
        sudo ./2_build_libobjc2.sh
        sudo ./3_build_core.sh
        sudo ./3_build_tools-make.sh
        sudo ./4_build_libwraster.sh
        
    - name: Build GNUstep
      run: |
        cd Packaging/Sources
        sudo ./5_build_libs-base.sh
        sudo ./6_build_libs-gui.sh
        sudo ./7_build_libs-back.sh

    - name: Build NextSpace frameworks
      run: |
        cd Packaging/Sources
        sudo ./8_build_Frameworks.sh

    - name: Build NextSpace applications
      run: |
        cd Packaging/Sources
        sudo ./9_build_Applications.sh
